body {
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
	text-align: center;
}

/* =Sections */
.aw-section {
	background-color: #f8f8f8;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
}

.aw-section .container {
	padding: 60px 0;
	max-width: 60%;
}
.aw-section h1 {
	font-size: 54px;
	font-weight: lighter;
	margin: 0 auto 30px;
	text-align: center;
}Ć

.aw-section h1:first-letter {
	color: #dca453;
}

.info {
	background-color: RGBA(255, 200, 120, .5);
	padding: 10px;
	margin: 20px 0;
	text-align: center;
}

/* =Alert*/
.alert {
	padding: 15px;
	font-size: 18px;
	margin-bottom: 20px;
}

.alert-error {
	background-color: red;
	color: #fff;
}

.alert-success {
	background-color: green;
	color: #fff;
}

/* =Contact Form*/
.aw-section form input:not([type="submit"]) {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px #ccc;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
}

.aw-section form fieldset {
	padding: 20px;
}

.aw-section form legend {
	font-size: 24px;
}

.aw-section form label {
	font-size: 18px;
}

.aw-section form input {
	margin-top: 10px;
}

.aw-section form input[type="file"] {
	background-color: #fff; 
}

#aw-contact form input:not([type="submit"]):focus {
	outline: 1px solid #DCA453;
	font-style: normal;
}

/*Chrome/Opera/Safari*/
#aw-contact form *::-webkit-input-placeholder {
	color: #ccc;
}
/*Firefox 19+*/
#aw-contact form *::-moz-placeholder {
	color: #ccc;
	font-style: italic;
}
/*IE 10+*/
#aw-contact form *:-ms-input-placeholder {
	color: #ccc;
	font-style: italic;
}
/*Firefox 18-*/
#aw-contact form *:-moz-placeholder {
	color: #ccc;
	font-style: italic;
}

#aw-contact input[type="submit"] {
	-webkit-box-shadow: inset 0 -3px 0 0 #c79652;
	box-shadow: inset 0 -3px 0 0 #c79652;
	-webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	background-color: #dca453;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	outline: none;
	padding: 10px 30px;
	text-transform: uppercase;
	width: 100%;
}

#aw-contact input[type="submit"]:hover {
	-webkit-box-shadow: inset 0 -3px 0 0 #a27c47;
	box-shadow: inset 0 -3px 0 0 #a27c47;
	color: #f5f5f5;
} 